:root {
  --bg-color-dark: #141518;
  --color-primary: #5076FE;
}

* {
  outline: none;
  touch-action: manipulation;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color-dark);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
}

// for auto complete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-primary);
  box-shadow: 0 0 0 30px var(--color-success-hover-bg) inset;
}

textarea {
  appearance: none;
  border-radius: 0;
}

::placeholder {
  color: var(--mzn-color-text-secondary) !important;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:-webkit-any-link {
  color: unset;
}

a::after,
a::before {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

img,
img::after,
img::before {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

p {
  margin-block: 0;
  margin-inline: 0;
}