<div class="root">
  <main class="container">
    <div class="logo"></div>

    <div class="label">Sign In with</div>
    <div class="social">
      <a class="social-item">A</a>
      <a class="social-item">B</a>
      <a class="social-item">C</a>
      <a class="social-item">D</a>
      <a class="social-item">E</a>
    </div>

    <div class="content-break">
      <div class="label">or with Imgur</div>

      <register-form
        *ngIf="formType === 'register'"
        (changedFormType)="onFormTypeChange($event)"></register-form>

      <signin-form
        *ngIf="formType === 'signin'"
        (changedFormType)="onFormTypeChange($event)"></signin-form>

    </div>
  </main>
</div>
