<div class="root">
  <main class="container">
    <div class="logo"></div>

    <div class="label">Sign In with</div>
    <div class="social">
      <a class="social-item">A</a>
      <a class="social-item">B</a>
      <a class="social-item">C</a>
      <a class="social-item">D</a>
      <a class="social-item">E</a>
    </div>

    <div class="content-break">
      <div class="label">or with Imgur</div>

      <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input
          required
          id="email"
          type="text"
          formControlName="email"
          [ngClass]="{ dirty: !!loginForm.value?.email }"
          class="input"
          placeholder="Email"
          autocomplete="off" />

        <p class="password">
          <input
            required
            id="password"
            type="password"
            formControlName="password"
            [ngClass]="{ dirty: !!loginForm.value?.password }"
            class="input"
            placeholder="Password"
            autocomplete="off" />
          
            <a class="forget-button">forgot?</a>
        </p>

        <button
          type="submit"
          class="submit"
          [disabled]="!loginForm.valid">
          Sign in
        </button>
      </form>
    </div>
  </main>
</div>
